<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iolanda Search - Resultados </title>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static/styles/pesquisa.css">
    <link rel="shortcut icon" href="../static/imgs/favicon.ico" type="image/x-icon">
    <style>
        

.balao {
    padding: 20px;
    border: 2px solid rgb(204, 0, 255);
    border-radius: 15px; 
    position: absolute;
    top: 13%;
    left: 63%;
    font-size: 18px;
}

.balao::after{
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    /* background-color: rgb(245, 214, 237); */
    border: 2px solid;
    border-color: transparent rgb(204, 0, 255) rgb(204, 0, 255) transparent;
    transform: rotate(45deg);
    position: absolute;
    left: 270px;
    top: 47px;
}



    </style>
</head>
<body>
    <div class="envolve-tudo">
        <div class="menu-lateral" id="home">
            <img src="../static/imgs/logo_colorida.png" class="logo-menu" alt="Logo principal">
            <div class="icones-container">
                <a href="#home">
                    <div class="icones">
                        <img src="../static/imgs/home-svg.png" alt="">
                        <p>Home</p>
                    </div>
                </a>
        
                <a href="#sobre">
                    <div class="icones">
                        <img src="../static/imgs/sobre-svg.png" alt="">
                        <p>Sobre</p>
                    </div>
                </a>

                <a href="{{ url_for('cadastro') }}">
                    <div class="icones">
                        <img src="../static/imgs/user-icone-jpg.jpg" alt="">
                        <p>Cadastro</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="container-main-conteudo">
            <div class="resultados">
                <div class="pesquisa-resultados">
                   <h1>Resultados da pesquisa para "{{ termo_pesquisa }}"</h1>
                    <!-- <div class="input-pesquisa">
                        <input type="text" placeholder="Pesquisar">
                        <a href="../templates/pesquisa.html">
                            <img src="../static/imgs/lupa-svg.png"  alt="Ícone de lupa">
                        </a>
                    </div> -->

                    <form action="/pesquisar" method="POST" class="input-pesquisa">
                        <input type="text" name="termo_pesquisa" placeholder="Pesquisar" required>
                        <button type="submit" style="background-color: transparent; border: none;">
                            <img src="{{ url_for('static', filename='imgs/lupa-svg.png')}}" alt="">
                        </button>
                    </form>
                </div>

                {% if produtos %}
    {% for produto in produtos %}
    <div class="box-resultados">
        <img src="{{ url_for('static', filename='imgs/mercado-livre.jpg') }}" alt="Imagem do produto">

        <div class="texto-resultados">
            <h3>{{ produto['nome'] }}</h3>
            <span>R$ {{ produto['preco'] }}</span>
            <p>Vendedor: {{ produto['vendedor_id'] }}</p>
        </div>

        <div class="preco-resultados">
            <span>R$ {{ produto['preco'] }}</span>
            <a href="{{ 'http://' + produto['link'] if not produto['link'].startswith('http') else produto['link'] }}" target="_blank">Ver</a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>Nenhum produto encontrado para "{{ termo_pesquisa }}".</p>
{% endif %}

        </div>
    </div>

        <div class="avatar-Iolanda">
            <img src="../static/imgs/Iolanda.jpeg" alt="">
       
        </div>

    </div>
    <div class="balao">
        <p>Olha o que eu encontrei para você!</p>
    </div>
    <div class="seta"></div>
</body>
</html>